CompileFlags:
    Add:
        - -xc
        - -std=c23
        - -stdlib=libc
    Remove:
        - -stdlib=*
        - -std=c++*
        - -march=native
        - --cuda-gpu-arch=*
        - -forward-unknown-to-host-compiler
        - --use_fast_math
        - --options-file
        - --extend-lambda
        - --expt-relaxed-constexpr
        - -gencode=*
        - --generate-code=*
        - -Xcompiler=*
        - -x
        - cu

Index:
    Background: Skip

Diagnostics:
    UnusedIncludes: None
If:
    PathMatch: external/.*
    Index:
        Background: Skip
    Diagnostics:
        Suppress: "*"
